name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Add project root to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV

      - name: Run tests - currency_report
        working-directory: currency_report
        run: pytest

      - name: Run tests - currency_history
        working-directory: currency_history
        run: pytest

      - name: Build Docker image - currency_report
        working-directory: currency_report
        run: docker build -t currency_report .

      - name: Build Docker image - currency_history
        working-directory: currency_history
        run: docker build -t currency_history .
